/* CSS */
.search {
  background-color: #929191;
  height: 1px;
  margin-top: 90px;
}

/* #929191ua; */

.section {
  height: 100vh-70px;
}

.searchBar {
  margin-bottom: 30px;
}
.searchBar1 {
}
#Example1 {
  /* width: 300px; */
}
